@import "tailwindcss";

:root {
  /* Color tokens */
  --sand-6: #dad9d6;
  --sand-12: #21201c;
  --sand-dark-1: #111110;
  --sand-dark-6: #3b3a37;
  --sand-dark-12: #eeeeec;
}
@layer base {
  :root {
    color-scheme: light dark;

    --text-app: light-dark(var(--sand-12), var(--sand-dark-12));

    --bg-app: light-dark(white, var(--sand-dark-1));

    --border-default: light-dark(var(--sand-6), var(--sand-dark-6));
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border-default);
  }

  .light {
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }
}

@theme {
  --color-app: var(--text-app);
  --background-color-app: var(--bg-app);
  --background-color-content: var(--bg-app);
}
